---
layout: page
title: Home
tagline: LetsFiddle - Exploring the web
description: " Now associate yourself with the latest miracles on going all over in this baffling and fascinating world of web.
You're just click away , twiddle and it will bring you to amazing piece of article telling about divine services and tricks. You
will not only feel curious rather hooked up with the whole new exposure we will be providing. "
---
{% include JB/setup %}

<div class="span8" >
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<span class="date">{{ post.date | date_to_string }} &raquo; </span>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    <article>{{ post.content | strip_html | truncatewords: 100 }}</article>
  </div>
  <hr />
{% endfor %}

{% if paginator.total_pages > 1 %}
    <div class="pagination btn-group">
      {% if paginator.previous_page %}
        <a class="btn prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" >&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
	  <a class="btn" href="#" >{{ paginator.page }} of {{ paginator.total_pages }}</a>
      {% if paginator.next_page %}
        <a class="btn next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
{% endif %}
</div>
<div class="span3">
<center>
<h2>Advertisement</h2>
<!--<a href="https://ref.webhostinghub.com/scripts/click.php?ref_id=hps89&amp;ad_id=16d3cca6" target="_top"><img src="https://ref.webhostinghub.com/accounts/default1/banners/HUB_250_250_easy.gif" style="border: 0;" alt="" width="250" height="250" /></a><img style="border:0" src="https://ref.webhostinghub.com/scripts/imp.php?ref_id=hps89&amp;ad_id=16d3cca6" width="1" height="1" alt="" />
-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 250 x 250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-9381870660490809"
     data-ad-slot="8537144248"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
</div>

